<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <script src="vue.js" type="text/javascript"></script>
        <link rel="stylesheet" type="text/css" href="styles.css" />
    </head>
    <body>
        <section id="app">
            <!-- <header>
                <input type="button" value="get请求" class="get">
                <input type="button" value="post请求" class="post">
            </header>-->
            <section>
                <input type="text" v-model="info" @keyup.enter="add">
                <ul>
                    <li v-for="item in content" :class="{action: item.id === contentId}" @click="contentclick(item.id)">{{item.name}} <button v-on:click="del(item.id)">x</button></li>
                </ul>
            </section>
            <footer v-show="content.length > 0">
                <div>共{{content.length}}条</div>
                <button class="clear" v-on:click="clear">清空</button>
            </footer>
            <!-- <div>
                <button v-on:click="getTq">查询天气</button>
                <div>城市：{{tq.city}}</div>
            </div> 
            <div>
                <img v-bind:src="imgurl">
            </div> -->
            <h1 :class="{action: isAction, live: isLive}">你好, {{fullname}}</h1>
            <h1 :class="getclass()">你好, {{fullname}}</h1>
            <h1 :class="getclass()">总价： {{totalprice}}</h1>
            <div @click="divClick">
                <button @click.stop="btnClick">点击</button>
            </div>
            <ul>
                <li v-for="item in lists" :key="item">{{item}}</li>
            </ul>
            <button @click="forClick">点击改变数组</button>
            <div>------------radio------------</div>
            <label for="male">
                <input type="radio" id="male" value="男" v-model="sex">男
            </label>
            <label for="female">
                <input type="radio" id="female" value="女" v-model="sex">女
            </label>
            <div>选中：{{sex}}</div>
            <div>------------checkbox------------</div>
        </section>
        <script type="text/javascript">
            var app = new Vue({
                el: "#app",
                data: {
                    num: 0,
                    info: '',
                    content: [],
                    tq: {},
                    imgurl: 'https://img.alicdn.com/simba/img/TB1F8M3rUH1gK0jSZSySuttlpXa.jpg',
                    isAction: false,
                    isLive: true,
                    firstName: 'lebron',
                    lastName: 'james',
                    books: [
                        {
                            id: 1,
                            name: '第一本书',
                            price: 100
                        },
                        {
                            id: 1,
                            name: '第二本书',
                            price: 110
                        },
                        {
                            id: 1,
                            name: '第三本书',
                            price: 120
                        },
                        {
                            id: 1,
                            name: '第四本书',
                            price: 130
                        },
                    ],
                    lists: ['a', 'b', 'c', 'd'],
                    contentId: 0,
                    nums: [10, 101, 40, 60, 222, 444],
                    sex: '男'
                },
                computed: {
                    fullname: function() {
                        return this.firstName + ' ' + this.lastName
                    },
                    totalprice: function() {
                        let result = 0;
                        this.books.forEach(item => {
                            result += item.price
                        });
                        return result;
                    }
                },
                methods: {
                    add: function() {
                        this.content.push({
                            id: this.num +1,
                            name: this.info
                        }),
                        this.info = "",
                        this.num = this.num +1
                    },
                    del: function(e){
                        this.content = this.content.filter(v => v.id !== e)
                    },
                    clear: function() {
                        this.content = []
                    },
                    getTq: function() {
                        axios.get("http://wthrcdn.etouch.cn/weather_mini?city=上海")
                            .then(function(response){
                                this.tq = response.data.data;
                                console.log(this.tq)
                            });
                    },
                    getclass: function(){
                        return {action: !this.isAction, live: !this.isLive}
                    },
                    divClick: function() {
                        console.log('div点击')
                    },
                    btnClick: function() {
                        console.log('btn点击');
                        console.log('大于100：' + this.nums.filter(v => v > 100));
                        console.log('大于100乘2：' + this.nums.filter(v => v > 100).map(o => o * 2));
                        console.log('大于100乘2相加：' + this.nums.filter(v => v > 100).map(o => o * 2).reduce((p, n)=> p + n));
                    },
                    forClick() {
                        Vue.set(this.lists, 0, 'bbb')
                    },
                    contentclick(id) {
                        this.contentId = id
                    }
                }
            })
        </script>
        
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script>
            document.querySelector(".get").onclick = function() {
                axios.get("http://wthrcdn.etouch.cn/weather_mini?city=上海")
                    .then(function(response){
                        console.log(response)
                    })
            }
        </script>
    </body>
</html>